<%- include('../partials/header') %>
<main>
    <article>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <a href="/">Back to Home</a>
    </article>
</main>
<%- include('../partials/footer') %>
