<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .welcome-message {
            text-align: center;
            padding: 20px;
            background: white;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="welcome-message">
        <h1>Welcome!  <%= "  codingBits".toUpperCase()  %></h1>
        <p>We're glad to have you here.</p>
    </div>


    <h1>Dice value : <%= diceVal %></h1>
</body>
</html>
