<!DOCTYPE html>
<html>
<head>
    <title>Blog Website</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <%- body %>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>

