<html>
    <head>
        
    </head>
    <body>
        <form method ="post" action = "/posts">
            <input placeholder="enter username" name="username"/><br/><br/>
            <textarea placeholder="write your post" name="content"></textarea><br/><br/><br/>
            <button >Submit Post</button>     
        </form>
    </body>
</html>