<html>
    <head>
        <link rel = "stylesheet" href ="/style.css"/>

    </head>
    <body>
        <h2> Here is your post in details</h2>
        <p>Post id: <%= post.id %></p>
        <div class="posts">
            <h2 class="user">@<%=post.username%></h2>
            <h4 class="content"><%=post.content%></h4>
        </div>
    </body>
</html>